@page
@model ProjetoGPS_Site.Pages.ContactosModel
@{
    ViewData["Title"] = "Contactos";
    ViewData["HeaderDescription"] = "Descobre como contactar os politécnicos aderentes!";
}

<div>
	<!-- Content section 1 -->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<a href="https://www.ips.pt/">
					<img class="img-fluid " src="~/img/ips.png" />
				</a>
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h2 style="font-size: 30px; text-decoration: none"><a href="https://www.ips.pt/ips_si/web_page.inicial">Instituto Politécnico de Setúbal</a></h2>
				<div class="paragraphs">
					<a class="paragraphs" href="mailto: brightstart@deloitte.pt">brightstart@deloitte.pt</a>
				</div>
				<div class="paragraphs">
					<a>210 422 932</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Content section 2 -->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<a href="https://www.ipv.pt/">
					<img class="img-fluid rounded-circle" src="~/img/ipv.png" />
				</a>
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h2 style="font-size: 30px; text-decoration: none"><a href="https://www.ipv.pt/">Instituto Politécnico de Viseu</a></h2>
				<div class="paragraphs">
					<a class="paragraphs" href="mailto: brightstartIPV@deloitte.pt">brightstartIPV@deloitte.pt</a>
				</div>
				<div class="paragraphs">
					<a>210 422 934</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Content section 3 -->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<a href="https://www.ipleiria.pt/">
					<img class="img-fluid rounded-circle" src="~/img/ipl-2.png" />
				</a>
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h5 style="font-size: 30px; text-decoration: none;"><a href="https://www.ipleiria.pt/">Instituto Politécnico de Leiria</a></h5>
				<div class="paragraphs" style="margin-top: -7%; text-decoration: none">
					<a class="paragraphs" href="mailto: brightstartIPL@deloitte.pt">brightstartIPL@deloitte.pt</a>
				</div>
				<div class="paragraphs">
					<a>210 422 935</a>
				</div>
			</div>
		</div>
	</div>
</div>
