@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["HeaderDescription"] = "O futuro pode ser brilhante! Agarra a oportunidade!";
}

<div>
	<!-- Content section 1 -->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<img class="img-fluid rounded-circle" src="~/img/01.png" alt="..." />
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h2 class="display-4">Sobre o BrightStart</h2>
				<p>
					O BrightStart é um programa de aceleração de competências para os finalistas do ensino secundário que pretendam ingressar na área das Tecnologias Informáticas. É uma oportunidade para adquirirem, enquanto estudam, conhecimentos
                            e competências práticas em ambiente real de trabalho.
				</p>
			</div>
		</div>
	</div>
	<!-- Content section 2 -->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6">
			<div class="p-5">
				<img class="img-fluid rounded-circle" src="~/img/02.png" alt="..." />
			</div>
		</div>
		<div class="col-lg-6">
			<div class="p-5">
				<h2 class="display-4">Onde podes, começar a tua carreira?</h2>
				<p>O Programa BrightStart atualmente está presente no Instituto Politécnico de Setúbal, Politécnico de Leiria e Politécnico de Viseu.</p>
			</div>
		</div>
	</div>
	<!-- Content section 3 -->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<img class="img-fluid rounded-circle" src="~/img/03.png" alt="..." />
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h2 class="display-4">Porquê BrightStart?</h2>
				<p>Para além do benefício de ganhar experiencia enquanto se tira a licenciatura, tens muitas outras vantagens como propinas pagas, uma bolsa de 140 € para gastares como quiseres e muitas outras.</p>
			</div>
		</div>
	</div>
</div>
