@page
@model ProjetoGPS_Site.Pages.MensagemEnviadaModel
@{
	ViewData["Title"] = "Mensagem Enviada";
	ViewData["HeaderTitle"] = "Mensagem Enviada!";
	ViewData["HeaderDescription"] = "Iremos te contactar por e-mail caso necessário.";
}

<div style="height: 92px">

</div>