@page
@model ProjetoGPS_Site.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre";
    ViewData["HeaderDescription"] = "Descobre como contactar os politécnicos aderentes!";
}

<div>
	<!-- Content section 1 -->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2 p-5">
			<img class="img-fluid rounded-circle" src="~/img/02.png" />
		</div>
		<div class="col-lg-6 order-lg-1 p-5">
			<h2 class="display-4">Sobre o BrightStart</h2>
			<p class="paragraphs-small">
				O BrightStart é um programa de aceleração de competências para os finalistas do ensino secundário que pretendam ingressar na área das Tecnologias Informáticas. É uma oportunidade para adquirirem, enquanto estudam, conhecimentose competências práticas em ambiente real de trabalho.
				<br />
				<br />
				Este programa pretende ter uma abrangência nacional, tendo sido lançado pela primeira vez em 2017 no Instituto Politécnico de Setúbal. Face ao sucesso alcançado,em 2019, arrancou no Politécnico de Leiria e no Instituto Politécnico de Viseu.
				<br />
				<br />
				A participação no programa está sujeita a um processo de seleção definido e implementado pelas entidades gestoras do programa (Deloittee respetivos Politécnicos). Após a candidatura, os estudantes são selecionados através de uma dinâmica de grupo, uma entrevista com um Manager e um Sócio da Deloitte.
				<br />
				<br />
				Os candidatos selecionados terão as propinas asseguradaspela Deloitte ao longo de todo o curso e, adicionalmente, serão remunerados com uma bolsa mensal pela sua participação nos projetos da Deloitte.
			</p>
		</div>
	</div>
</div>
